services:
  server:
    build:
      context: .
      dockerfile: infra/docker/dockerfile
    ports:
      - 5001:3000
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
    working_dir: /app

  db:
    image: postgres:15
    ports:
      - 5455:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=discus
    volumes:
      - db_data:/var/lib/postgresql/data
  
  storage:
    image: minio/minio
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - storage_data:/data


volumes:
  db_data:
  storage_data: